<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add products</title>
</head>
<body>
<h1>Edit Category</h1>

<form th:action="@{/category/update}" method="post" th:object="${category}">
    <h3 th:text="${category.name}"></h3>

    <br>

    <h4>Select Products:</h4>
    <div th:each="product : ${products}">
        <label>
            <input type="checkbox" th:field="*{products}" th:value="${product.id}" />
            <span th:text="${product.name}"></span>
        </label>
    </div>

    <br>

    <button type="submit">Update Category</button>
</form>
</body>
</html>