<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h3>Select a category</h3>
    <br>
    <form th:action="@{/category/edit}" method="get">
        <select id="categoryId" name="categoryId">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
        <button type="submit">Add Products</button>
    </form>
</body>
</html>